# Exclude all common virtual environment folders
.venv/
tf_venv/
tf_env/
venv/
env/
models/raguunstructured/model.safetensors
HuggingFace/models/raguunstructured/model.safetensors
# Exclude all common cache folders
__pycache__/
jobs/